.App {
  text-align: center;
  background-color: #0b1628;
  color: white;
}

h2,
.table-row {
  font-size: 0.75rem;
}

.mainDisplay {
  display: flex;
  justify-content: left;
  justify-items: left;
  align-content: left;
}

/* Left side of the main display */
#leftDisplay {
  margin-left: 25px;
}

.table-header {
  font-size: 0.5rem;
}

tr {
  border-bottom: 1px gray;
}

.green {
  color: green;
}

.red {
  color: red;
}

/* Right side of the main display */
.graphSelector {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
